a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #2e0519;
    text-decoration: none;
}

html {
    background-color: #D35269;
}

h1 {
    color: black;
    margin-top: 5vh;
    font-size: 10vh;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-bottom: 5vh;
}

h2 {
    margin-left: 8vw;
    margin-bottom: 0.5vh;
    margin-top: 0;
    font-family: 'Rajdhani';
}

.allkeys {
    margin-top: 8vh;
    text-align: center;
}

.natural {
    display: inline-block;
    margin: 0 auto;
    width: 4vw;
    height: 40vh;
    background-color: white;
}

.sharp {
    display: inline-block;
    vertical-align: top;
    width: 2vw;
    height: 35vh;
    background-color: black;
}

#C4 {

}